


/* Layout */

.border-top {
  border-top:1px solid #000;
  padding-top:10px;
}



#container {
  position:relative;
  /*width:980px;*/
  margin:80px auto 80px auto;
  padding:0 40px 0 40px;
  z-index:100;
}


.storey {
  width:100%; 
  margin-bottom:10px;
}








/* publication list */
.pub {
  font-size:14px;
}
.pub h3 {
  font-size:16px;
  width: 100%;
  text-transform:none;
  line-height: 120%;
  font-weight: bold;
  margin: 0;
}
.pub ul {
  list-style-type: none;
}

.pub li img {
  float: left;
  margin: 0 15px 0 0;
}
 
.pub li p {
  text-align: left;
}
 
.pub li {
  padding: 5px;
  overflow: auto;
}
 
.pub li:hover {
  background: #eee;
  cursor: pointer;
}

.pub blockquote {
  font-size:14px;
  font-style:none;
}

/* image to the left of pub info */
.pub .pub-image {
  float: left;
  width: 100px;
}

div .pub-info {
  float:left;
  width: 78%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.pub-info blockquote {
  text-align: justify;
}

.pub-info h3 {
  margin-bottom: 5px;
}

/* hidden div for abstract */
.abstract {
  text-align: justify;
  display: none;
  width: auto;
  height: auto;
  padding-bottom: 20px;
}



